@import url("../../../../common/styles/colors.less");

.ant-menu-root.ant-menu-vertical {
  border-right: 0px
}

.ant-layout-sider {
  &.left-sider {
    width: 200px;
    height: 100vh;

    .left-sider-title {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: medium;
      height: 40px;
      color: white;
    }
  }
}

.ant-menu-item-selected .left-sider-title{
  position: absolute;
  left: 0px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.85) !important;
}