.ant-layout-sider {
    &.left-sider{
        width: 200px;
        
        .left-sider-title{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: medium;
            height: 40px;
            color: white;
        }
    }
}
