@import url("../../common/styles/colors.less");

.ant-layout-has-sider {
  height: auto;

  .ant-layout-footer {
    position: fixed;
    bottom: 0px;
    width: 90vw;
    background-color: @theme_gray;
    display: flex;
    justify-content: center;
    padding: 0px;
    height: 3vh;
  }
}